src/main/mule/myproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="067e040f-f898-4981-96e8-003fa76750e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="1179bc0b-b57a-4501-8f42-a274b312a94e" keyGenerationExpression="#[vars.id]" />
	<flow name="myprojectFlow2" doc:id="a98a0720-fd04-426e-9360-95ae0c42726a" >
		<http:listener doc:name="Listener" doc:id="c577a8ca-140f-445f-b0fd-95a338630f38" config-ref="HTTP_Listener_config" path="/async"/>
		<set-payload value="#[[1,2,3,4,5,6,7,8,9]]" doc:name="Set Payload" doc:id="7cc81359-9ff2-48b4-bc02-d557a20e2308" />
		<set-variable value="#[0]" doc:name="Set Variable" doc:id="7549882f-b1b4-4a60-a6f1-0802a83a4c7c" variableName="a"/>
		<foreach doc:name="For Each" doc:id="eee0c84d-1a36-485f-9d4c-450b212ae1f3" >
			<set-variable value="#[vars.a + (payload as Number)]" doc:name="Set Variable" doc:id="46a13ab8-f12d-472a-bce8-a58dfa29076c" variableName="a"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="44d149f0-3c9a-4c3a-9c24-2f87d01acbea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"a" : vars.a
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
